script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-156555035-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-156555035-1');

p.contents_subtitle=content_subtitle
p.contents_title=content_title
- for(var i = 0; i < content_imgs; i++)
  image.contents_img(src="resource/design/" + content_title + "/img/img" + i + ".jpg", alt="contents_img")
- for(var j = 0; j < content_movs; j++)
  iframe.contents_img(src=content_movurls[j] title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
p.contents_date=content_dates
p.contents_text=content_texts
