extend layout.pug

block content
	nav.topbar
		a(href="/")
			div.home
		div.music
			audio.bgm
				source(src="resource/audio/on-the-up-and-up.mp3")
		div.dance
		div.animation
		div.guidtext ESC=Close&Clear
	body
		div.loading
			img.loading-image(src="resource/imgs/rocket.gif", alt="loading")
		script(type='text/javascript', src="/javascripts/p5_screen.js")
		div.background
			div.p5_screen
			div.center_animation
				div.animation_frame
				div.animation_contents
				div.animation_exit
			div#complapins.trash(onclick="location.href='http://www.kartsdesign.net/portfolio/hinder/';")
				img.icon(src="resource/imgs/folders.png", alt="trash_icon")
				p Senier Project
			div.infocard
				p.infotext ID: BAEK_NOTHING
				p.infotext(style="font-family : Gilbeot_TG") "Still looking for a job"
				p.infotext
					| UX/UI Designer <br> Product Manager <br> Unity/web Developer
			div.folders
				div#unity.folder
					img#unity.icon(src="resource/imgs/folders.png", alt="folder_icon")
					p#unity Unity
				div#web.folder
					img#web.icon(src="resource/imgs/folders.png", alt="folder_icon")
					p#web Web
				div#design.folder
					img#design.icon(src="resource/imgs/folders.png", alt="folder_icon")
					p#design UX/UI
		div.touchblock
		div.folder_popup
			div.folder_exit
			div.folder_contents
				- if (unitycount != 0)
					div#folder_unity.folder_mid
						- for (var i = 0; i < unitycount; i++)
							div(id=unitylist[i], class = "folder_content")
								img.icon(src="resource/imgs/folders.png", alt="folder_icon")
								div.folder_content_mid_p
									p(id=unitylist[i], class = "folder_content_p")=unitylist[i]
				- else
						img#folder_unity.folder_empty(src="resource/imgs/empty.png", alt="empty_icon")
				- if (designcount != 0)
					div#folder_design.folder_mid
						- for (var i = 0; i < designcount; i++)
							div(id=designlist[i], class = "folder_content")
								img.icon(src="resource/imgs/folders.png", alt="folder_icon")
								div.folder_content_mid_p
									p(id=designlist[i], class = "folder_content_p")=designlist[i]
				- else
					img#folder_design.folder_empty(src="resource/imgs/empty.png", alt="empty_icon")
				- if (webcount != 0)
					div#folder_web.folder_mid
						- for (var i = 0; i < webcount; i++)
							div(id=weblist[i], class = "folder_content")
								img.icon(src="resource/imgs/folders.png", alt="folder_icon")
								div.folder_content_mid_p
									p(id=weblist[i], class = "folder_content_p")=weblist[i]
				- else
					img#folder_web.folder_empty(src="resource/imgs/empty.png", alt="empty_icon")
			div.folder_frame
		div.center_popup
			div.popup_exit
			div.popup_contents
			div.popup_frame
		div.zoom_img
			div.zoom_exit
			div.zoom_contents
				p.zoom_title nothing_selected0
			div.zoom_frame
			div.zoom_prev <
			div.zoom_next >
	footer
		p.copyright mail : baeknothing@gmail.com 
		p.copyright copyright@baek_seongyeol
