extend 2021_layout.pug

block content
	nav.topbar
		a(href="/")
			div.home
		div.music
			audio.bgm
				source(src="resource/audio/on-the-up-and-up.mp3")
		div.dance
		div.animation
		div.guidtext ESC=Close&Clear
	body
		div.loading
			img.loading-image(src="resource/imgs/rocket.gif", alt="loading")
		div.background
			script(type='text/javascript', src="/javascripts/2021/p5_screen.js")
			div.p5_screen
			div#complapins.trash.dragblock(onclick="location.href='http://www.kartsdesign.net/portfolio/hinder/';")
				img.icon(src="resource/imgs/2021/folder_seniorproject.png", alt="trash_icon")
				p : Hinder : Senior Project
			div.infocard.dragblock
				p.infotext BAEK_NOTHING
				p.infotext(style="font-weight : 700") ᕦ( ᐛ )ᕡ 구직중 
				p.infotext
					| UX/UI Designer <br> Product Manager <br> Unity/web Developer
			div.folders.dragblock
				div#unity.folder
					img#unity.icon(src="resource/imgs/2021/folder_unity.png", alt="folder_icon")
					p#unity Unity
				div#web.folder
					img#web.icon(src="resource/imgs/2021/folder_web.png", alt="folder_icon")
					p#web Web
				div#design.folder
					img#design.icon(src="resource/imgs/2021/folder_ux.png", alt="folder_icon")
					p#design UX/UI
		div.touchblock
		div.center_animation
			div.animation_frame
			div.animation_contents
			div.animation_exit
			div.animation_random
		div.folder_popup
			div.folder_exit
			div.folder_contents
				div#folder_unity.folder_mid
					div(id="2021_AIpoet_haru", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2021_AIpoet_haru.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id="2021_AIpoet_haru", class = "folder_content_p") AIpoet_haru
					div(id="2020_FacePlay", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2020_FacePlay.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id="2020_FacePlay", class = "folder_content_p") FacePlay
					div(id="2020_VR_research", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2020_VR_research.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id="2020_VR_research", class = "folder_content_p") VR_research
					div(id="2020_달팽이키우기", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2020_달팽이키우기.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id="2020_달팽이키우기", class = "folder_content_p") 달팽이키우기
					div(id="2019_DA_19", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2019_DA_19.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id=unitylist[i], class = "folder_content_p") DA_19
					div(id="2018_DA_18", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2018_DA_18.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id=unitylist[i], class = "folder_content_p") DA_18
					div(id="2017_DA_17", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2017_DA_17.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id=unitylist[i], class = "folder_content_p") DA_17								
					div(id="2016_DA_16", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2016_DA_16.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id="2016_DA_16", class = "folder_content_p") DA_16
					div(id="2015_Dolphinflow", class = "folder_content")
						img.icon(src="resource/imgs/2021/unity/2015_Dolphinflow.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id="2015_Dolphinflow", class = "folder_content_p") Dolphilnflow
				img#folder_design.folder_empty(src="resource/imgs/2021/empty.png", alt="empty_icon")
				div#folder_web.folder_mid
					div(id=complapins, class = "folder_content")
						img.icon(src="resource/imgs/2021/folders.png", alt="folder_icon")
						div.folder_content_mid_p
							p(id=complapins, class = "folder_content_p") complapins
			div.folder_frame
		div.center_popup
			div.popup_exit
			div.popup_contents
			div.popup_frame
		div.zoom_img
			div.zoom_exit
			div.zoom_contents
				p.zoom_title nothing_selected0
			div.zoom_frame
			div.zoom_prev <
			div.zoom_next >
	footer
		p.copyright mail : baeknothing@gmail.com 
		p.copyright copyright@baek_seongyeol
